@tailwind base;
@tailwind components;
@tailwind utilities;

.scoreNumber {
    font-size: 40vh;
    line-height: 40vh;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .scoreNumber {
        font-size: 25vh;
        line-height: 25vh;
    }
}